<div  *ngIf="loading" class="progress">
  <div class="indeterminate"></div>
</div>


<div *ngIf="!loading">
  <h4>Detalhes do orçamento</h4>
  Cliente: {{ budget.client }}<br>
  Status: {{ budget.isOpen ? 'Aberto' : 'Fechado  ' }}<br>
  <h5 style="color: red;">{{ error }}</h5>
  <h5 style="color: red;" *ngFor="let err of validationErrors?.credits">{{ err }}</h5>
  <table class="highlight">
    <thead>
    <tr>
      <th>Quantidade</th>
      <th>Produto</th>
      <th>Valor unitário (R$)</th>
      <th>Valor total</th>
      <th><button class="btn waves-effect" (click)="sendData()" style="width: 140px;">Concluir</button></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of proposalItems;let i = index">
      <td [ngStyle]="{ 'color' : item.err ? 'red' : 'black' }">{{ item.amount }}</td>
      <td [ngStyle]="{ 'color' : item.err ? 'red' : 'black' }">{{ item.name }}</td>
      <td><input *ngIf="item.haveItem" placeholder="R$ 0,00" style="max-width: 100px" (blur)="updateTotalValue(item)" currencyMask [(ngModel)]="item.unityValue" min="0" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/></td>
      <td>{{ item.displayTotal || 'R$ 0,00' }}</td>
      <td><a style="cursor: pointer" (click)="toggleHaveItem(item)" >{{ item.haveItem ? 'Não tenho o produto' : 'Tenho o produto' }}</a></td>
    </tr>

    </tbody>
  </table>

  <h4 *ngIf="budget.responses.length > 0">Propostas efetuadas</h4>
  <mz-collapsible>

    <mz-collapsible-item [active]="true" *ngFor="let response of budget.responses">
      <mz-collapsible-item-header>
        {{ response.value }}
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>

        <table class="highlight">
          <thead>
          <tr>
            <th>Quantidade</th>
            <th>Produto</th>
            <th>Valor unitário (R$)</th>
            <th>Valor total</th>
            <th></th>
          </tr>
          </thead>

          <tbody>

          <tr *ngFor="let item of response.responseItems;let i = index">
            <td>{{ item.amount }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.unityValue }}</td>
            <td>{{ item.totalValue }}</td>
            <td>{{ !item.haveItem ? 'Não tem o produto' : '' }}</td>
          </tr>


          </tbody>
        </table>

      </mz-collapsible-item-body>
    </mz-collapsible-item>

  </mz-collapsible>

</div>

