<div  *ngIf="loading" class="progress">
  <div class="indeterminate"></div>
</div>

<div *ngIf="!loading">
  <h4>Notificações</h4>
  <h6 *ngIf="notifications.length == 0">Não há notificações :(</h6>
  <div *ngFor="let notification of notifications">
    <div class="card" (click)="goToDetail(notification.budgetId)" >
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">{{ notification.title }}</span>
        <p>{{ notification.message }}</p>
      </div>
    </div>
  </div>

</div>

