<div  *ngIf="loading" class="progress">
  <div class="indeterminate"></div>
</div>

<div *ngIf="budgets?.length == 0 && budgetsAnswered?.length == 0 && !loading">
  <h4>Orçamentos</h4>

  Não há orçamentos para você responder :(
</div>

<div *ngIf="budgets?.length > 0">
  <div *ngIf="!loading">
    <h4>Orçamentos em Aberto</h4>
    <table  class="highlight">
      <thead>
      <tr>
        <th>Id</th>
        <th>Cliente</th>
        <th>Data de criação</th>
        <th>Proposta de menor valor</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let budget of budgets">
        <td>{{ budget.id }}</td>
        <td>{{ budget.client.name }}</td>
        <td>{{ budget.createdAt }}</td>
        <td>{{ budget.bestProposal || 'R$0,00' }}</td>
        <td><a [routerLink]="budget?.id">Ver detalhes</a></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>


<div  *ngIf="loadingAnswered" class="progress">
  <div class="indeterminate"></div>
</div>

<div *ngIf="budgetsAnswered?.length > 0">
  <div *ngIf="!loadingAnswered">
    <h4>Orçamentos respondidos</h4>
    <table  class="highlight">
      <thead>
      <tr>
        <th>Id</th>
        <th>Cliente</th>
        <th>Data de criação</th>
        <th>Proposta de menor valor</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let budget of budgetsAnswered">
        <td>{{ budget.id }}</td>
        <td>{{ budget.client.name }}</td>
        <td>{{ budget.createdAt }}</td>
        <td>{{ budget.bestProposal || 'R$0,00' }}</td>
        <td><a [routerLink]="budget?.id">Ver detalhes</a></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

