
<main>
  <div style="text-align: center;">
    <!--
        <img class="responsive-img" style="width: 250px;" src="https://i.imgur.com/ax0NCsK.gif" />
    -->
    <br><br><br><br>
    <div class="section"></div>

    <div class="section"></div>

    <div class="container">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

        <form class="col s12" method="post">
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>

            Foi enviado um e-mail de confirmação, para utilizar a plataforma, vá ao seu e-mail e clique no link!

          <br />
          <div style="text-align: center;">
            <div class='row'>
              <a routerLink="/login" routerLinkActive="active" >Voltar para login</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="section"></div>
  <div class="section"></div>
</main>

