<div  *ngIf="loading" class="progress valign-wrapper">
  <div class="indeterminate"></div>
</div>

<div *ngIf="!loading">
  <h4>Minha conta</h4>
  <h6 style="color: green">{{ message }}</h6>
  <a style="cursor: pointer;" (click)="toggleDataMode()" >Dados de usuário</a><br>
  <a style="cursor: pointer;" (click)="togglePasswordMode()">Trocar senha</a>



  <main>
    <div style="text-align: center;">
      <!--
          <img class="responsive-img" style="width: 250px;" src="https://i.imgur.com/ax0NCsK.gif" />
      -->
      <div class="container" *ngIf="editData">
        <div class="row" style="display: inline-block; padding: 32px 48px 0px 48px;">

          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='text' [(ngModel)]="company.name" name='name' id='name'/>
                <label for='name'>Nome da loja</label>
                <small style="color: red;" *ngFor="let err of validationErrors.name">{{ err }}<br></small>
              </div>

              <div class='input-field col s12'>
                <input disabled class='validate' type='email' [(ngModel)]="company.email" name='email' id='email'/>
              </div>

              <div class='input-field col s12'>
                <input disabled class='validate' type='number' [(ngModel)]="company.cnpj" name='cnpj' id='cnpj'/>
              </div>

              <div class='input-field col s3'>
                <input class='validate' type='text' [(ngModel)]="company.address.cep" name='cep' id='cep'/>
                <label for='cep'>Cep</label>
                <small style="color: red;" *ngFor="let err of validationErrors.cep">{{ err }}</small>
              </div>

              <div class='input-field col s3'>
                <input class='validate' type='text' [(ngModel)]="company.address.uf" name='uf' id='uf'/>
                <label for='uf'>Uf</label>
                <small style="color: red;" *ngFor="let err of validationErrors.cep">{{ err }}</small>
              </div>

              <div class='input-field col s6'>
                <input class='validate' type='text' [(ngModel)]="company.address.city" name='city' id='city'/>
                <label for='city'>Cidade</label>
                <small style="color: red;" *ngFor="let err of validationErrors.city">{{ err }}</small>
              </div>

              <div class='input-field col s6'>
                <input class='validate' type='text' [(ngModel)]="company.address.neighborhood" name='neighborhood' id='neighborhood'/>
                <label for='neighborhood'>Bairro</label>
                <small style="color: red;" *ngFor="let err of validationErrors.neighborhood">{{ err }}</small>
              </div>

              <div class='input-field col s6'>
                <input class='validate' type='text' [(ngModel)]="company.address.street" name='street' id='street'/>
                <label for='street'>Rua</label>
                <small style="color: red;" *ngFor="let err of validationErrors.street">{{ err }}</small>
              </div>

            </div>
            <br />
            <div style="text-align: center;">
              <div class='row'>
                <div  *ngIf="loading" class="progress">
                  <div class="indeterminate"></div>
                </div>

                <div *ngIf="!loading">
                  <button (click)="sendData()" class="btn">Concluir</button>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="container" *ngIf="editPassword">
        <div class="row" style="display: inline-block; padding: 32px 48px 0px 48px;">

          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' [(ngModel)]="changePassword.currentPassword" name='currentPassword' id='currentPassword'/>
                <label for='currentPassword'>Senha atual</label>
                <small style="color: red;" *ngFor="let err of validationErrors.name">{{ err }}<br></small>
              </div>

              <div class='input-field col s12'>
                <input class='validate' type='password' [(ngModel)]="changePassword.password" name='password' id='password'/>
                <label for='password'>Nova senha</label>
                <small style="color: red;" *ngFor="let err of validationErrors.city">{{ err }}</small>
              </div>

              <div class='input-field col s12'>
                <input class='validate' type='password' [(ngModel)]="changePassword.samePassword" name='samePassword' id='samePassword'/>
                <label for='samePassword'>Repetir nova senha</label>
                <small style="color: red;" *ngFor="let err of validationErrors.neighborhood">{{ err }}</small>
              </div>

            </div>
            <br />
            <div style="text-align: center;">
              <div class='row'>
                <div  *ngIf="loading" class="progress">
                  <div class="indeterminate"></div>
                </div>

                <div *ngIf="!loading">
                  <button (click)="sendDataPassword()" class="btn">Concluir</button>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>


</div>
