
<main>
  <div style="text-align: center;">
<!--
    <img class="responsive-img" style="width: 250px;" src="https://i.imgur.com/ax0NCsK.gif" />
-->
    <br><br><br><br>
    <div class="section"></div>

    <h5 class="indigo-text">Por favor, informe a sua conta</h5>
    <div class="section"></div>

    <div class="container">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

        <form class="col s12" method="post">
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input class='validate' type='email' [(ngModel)]="loginData.email" name='email' id='email'/>
              <label for='email'>Informe seu e-mail</label>
              <small style="color: red;" *ngFor="let emailError of validationErrors.email">{{ emailError }}<br></small>
            </div>

            <div class='input-field col s12'>
              <input class='validate' type='password' [(ngModel)]="loginData.password" name='password' id='password'/>
              <label for='password'>Informe a sua senha</label>
              <small style="color: red;" *ngFor="let passwordError of validationErrors.password">{{ passwordError }}</small>

            </div>
           <!-- <label style='float: right;'>
              <a class='pink-text' href='#!'><b>Esqueceu sua senha?</b></a>
            </label>-->
          </div>

          <br />
          <div style="text-align: center;">
            <div class='row'>
              <div  *ngIf="loading" class="progress">
                <div class="indeterminate"></div>
              </div>

              <div *ngIf="!loading">
                <button  type='submit' name='btn_login' (click)="login()" class='col s12 btn btn-large waves-effect indigo'>Entrar</button>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <a routerLink="/register" routerLinkActive="active" >Criar conta</a>
  </div>

  <div class="section"></div>
  <div class="section"></div>
</main>

