

<main>
  <div style="text-align: center;">
    <!--
        <img class="responsive-img" style="width: 250px;" src="https://i.imgur.com/ax0NCsK.gif" />
    -->
    <br><br><br><br>
    <div class="section"></div>

    <h5 class="indigo-text">Por favor, informe os dados para criar sua conta</h5>
    <div class="section"></div>
    <h5>{{ geolocalizationError }}</h5>
    <div class="container">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

        <form class="col s12" method="post">
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input class='validate' type='text' [(ngModel)]="company.name" name='name' id='name'/>
              <label for='name'>Nome da loja</label>
              <small style="color: red;" *ngFor="let err of validationErrors.name">{{ err }}<br></small>
            </div>

            <div class='input-field col s12'>
              <input class='validate' type='email' [(ngModel)]="company.email" name='email' id='email'/>
              <label for='email'>E-mail da loja</label>
              <small style="color: red;" *ngFor="let err of validationErrors.email">{{ err }}<br></small>
            </div>

            <div class='input-field col s12'>
              <input class='validate' type='password' [(ngModel)]="company.password" name='password' id='password'/>
              <label for='password'>Senha</label>
              <small style="color: red;" *ngFor="let err of validationErrors.password">{{ err }}</small>
            </div>

            <div class='input-field col s12'>
              <input class='validate' type='number' [(ngModel)]="company.cnpj" name='cnpj' id='cnpj'/>
              <label for='cnpj'>Cnpj</label>
              <small style="color: red;" *ngFor="let err of validationErrors.cnpj">{{ err }}</small>
            </div>



            <div class='input-field col s3'>
              <input class='validate' (blur)="getCep()"  type='text' [(ngModel)]="company.cep" name='cep' id='cep'/>
              <label for='cep'>Cep</label>
              <small style="color: red;" *ngFor="let err of validationErrors.cep">{{ err }}</small>
            </div>

            <div class='input-field col s3'>
              <input class='validate' type='text' [(ngModel)]="company.uf" name='uf' id='uf'/>
              <label for='uf'>Uf</label>
              <small style="color: red;" *ngFor="let err of validationErrors.cep">{{ err }}</small>
            </div>

            <div class='input-field col s6'>
              <input class='validate' type='text' [(ngModel)]="company.city" name='city' id='city'/>
              <label for='city'>Cidade</label>
              <small style="color: red;" *ngFor="let err of validationErrors.city">{{ err }}</small>
            </div>

            <div class='input-field col s6'>
              <input class='validate' type='text' [(ngModel)]="company.neighborhood" name='neighborhood' id='neighborhood'/>
              <label for='neighborhood'>Bairro</label>
              <small style="color: red;" *ngFor="let err of validationErrors.neighborhood">{{ err }}</small>
            </div>

            <div class='input-field col s6'>
              <input class='validate' type='text' [(ngModel)]="company.street" name='street' id='street'/>
              <label for='street'>Rua</label>
              <small style="color: red;" *ngFor="let err of validationErrors.street">{{ err }}</small>
            </div>

          </div>
          <br />
          <div style="text-align: center;">
            <div class='row'>
              <div  *ngIf="loading" class="progress">
                <div class="indeterminate"></div>
              </div>

              <div *ngIf="!loading">
                <button *ngIf="!regButton" type='submit' name='btn_login' (click)="register()" class='col s12 btn btn-large waves-effect indigo'>Criar</button>
                <button *ngIf="regButton" disabled type='submit' name='btn_login' (click)="register()" class='col s12 btn btn-large waves-effect indigo'>Criar</button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

