/* You can add global styles to this file, and also import other style files */
.text-blue {
  color: #5da3ee !important;
}

.text-default {
  color: #ffffff !important;
}

.body-container{
  margin-top: 80px;
}

.icon {
  position: relative !important;
  top: 5px !important;
  left: 0 !important;
  padding-left: 5px;
  padding-right: 5px;
}

.user-image {
  height: 100px;
  border-radius: 50%;
  max-height: 100%;
}

body, html {
  padding: 0;
  margin: 0;
}
