<div style="  min-height: calc(100vh - 110px);" class="row">
  <div class="col s12 m3">
    <ul >
      <li class="center" style="font-size: 50px">
        <strong>OrçaFácil</strong>
      </li>
      <li><div class="divider"></div></li>
      <li class="center" style="padding-top: 10px">
        <img class="user-image" [src]=" user.imageUrl || 'http://www.moorelawpllc.com/wp-content/uploads/2012/09/default-person.jpg'" alt="">
      </li>
      <li class="center" style="font-size: 24px">
        {{ user?.name }}
      </li>
      <li class="center" style="font-size: 30px">
        {{ user?.credits }} Créditos
      </li>
      <li><div class="divider"></div></li>
      <a routerLink="/dashboard/budget"><li class="side-menu-item waves-block waves-effect"><i class="material-icons icon">assignment</i>Orçamentos</li></a>
      <a routerLink="/dashboard/notification"><li class="side-menu-item waves-block waves-effect"><i class="material-icons icon">notification_important
      </i>Notificações<span class="badge" style="font-size: 24px;color: green;"><strong>{{ numNotification }}</strong></span></li> </a>
      <a routerLink="/dashboard/credit"><li class="side-menu-item waves-block waves-effect"><i class="material-icons icon">attach_money</i>Créditos</li></a>
      <a routerLink="/dashboard/myAccount"><li class="side-menu-item waves-block waves-effect"><i class="material-icons icon">person</i>Minha conta</li></a>
      <a (click)="logout()"><li class="side-menu-item waves-block waves-effect"><i class="material-icons icon">arrow_back</i>Sair</li></a>
    </ul>
  </div>
  <div class="col s12 m9">
    <div style="padding-top: 39px">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!--
<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      &lt;!&ndash;<div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>&ndash;&gt;
      &lt;!&ndash;<div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>&ndash;&gt;
    </div>
  </div>
  <div class="footer-copyright black">
    <div class="container center">
      © 2018 Copyright Text
      &lt;!&ndash;<a class="grey-text text-lighten-4 right" href="#!">More Links</a>&ndash;&gt;
    </div>
  </div>
</footer>
-->
