<div  *ngIf="loading" class="progress valign-wrapper">
  <div class="indeterminate"></div>
</div>

<div *ngIf="!loading">
  <h4>Créditos</h4>

  <div class="row container" style="width: 50%;margin: auto !important;">
    <div class="card-container"></div>

    <form card
          container=".card-container"
          card-width="350"
          formatting="true"
          [placeholders]="placeholders"
          debug="true">

      <div class="row">
        <div class="col s12">
          <mz-input-container>

            <input mz-input
                   [label]="'Valor em créditos'"
                   name="credits"
                   type="text" currencyMask [(ngModel)]="buyCredits.credits"
                   min="0" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" >
          </mz-input-container>
          <small style="color:red;" *ngFor="let err of validationErrors?.credits">{{ err }}</small>
        </div>
        <div class="col s12">
          <mz-input-container>

            <input mz-input
                   [label]="'Nome'"
                   name="name"
                   type="text" card-name [(ngModel)]="buyCredits.creditCard.holder">
          </mz-input-container>
        </div>
        <div class="col s12">
          <mz-input-container>

            <input mz-input
                   [label]="'Número'"
                   name="number"
                   type="text" card-number [(ngModel)]="buyCredits.creditCard.cardNumber">
          </mz-input-container>
        </div>
        <div class="col s6">
          <mz-input-container>

            <input mz-input
                   [label]="'Expiração (MM/AAAA)'"
                   name="expiry"
                   type="text" card-expiry [(ngModel)]="buyCredits.creditCard.expirationDate">
          </mz-input-container>
        </div>
        <div class="col s6">
          <mz-input-container>

            <input mz-input
                   [label]="'CVC'"
                   name="cvc"
                   maxlength="3"
                   type="text" card-cvc [(ngModel)]="buyCredits.creditCard.securityCode">
          </mz-input-container>
        </div>

        <button class="btn right" (click)="sendData()">Concluir</button>

      </div>


    </form>
  </div>

</div>
